

<div *ngIf="splash == false">

</div>

<div *ngIf="splash == true">
  <div id="custom-overlay" style.display="flex">
    <div class="flb">
      <div class="Aligner-item Aligner-item--top"></div>
      <img src="assets/logos/color_logo_transparent.png">
      <div class="Aligner-item Aligner-item--bottom"></div>
    </div>
  </div>
</div>

<ion-header>
  <ion-toolbar>
    <ion-title>
      Inmodata
    </ion-title>
    <ion-buttons slot="start">
      <ion-menu-button menu="main-menu"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <ion-grid class="ion-no-padding">
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card  [routerLink]="['/clientes']">
          <ion-card-content>
            <ion-icon name="home" slot="start"></ion-icon>
            <h2 style="margin-left: 10%; margin-top: -6.1%;">Clientes</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-content>
            <ion-icon name="home" slot="start"></ion-icon>
            <h2 style="margin-left: 10%; margin-top: -6.1%;">Propiedades</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-content>
            <ion-icon name="home" slot="start"></ion-icon>
            <h2 style="margin-left: 10%; margin-top: -6.1%;">Propietarios</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-content>
            <ion-icon name="home" slot="start"></ion-icon>
            <h2 style="margin-left: 10%; margin-top: -6.1%;">Usuarios</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col class="ion-no-padding">
        <ion-card>
          <ion-card-content>
            <ion-icon name="home" slot="start"></ion-icon>
            <h2 style="margin-left: 10%; margin-top: -6.1%;">Órdenes</h2>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
